html(lang = "en")
	head
		meta(charset='utf-8')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat" rel="stylesheet")
		link(rel="stylesheet" href = "/style.css")
		base(target="_blank")

body
	div !{contents}
	footer
		a.location asdfasdfasdf
		a.contact(href="mailto:ken@hoff.tech") ken@hoff.tech
	script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js', charset='utf-8')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/deck.js/1.1.0/core/deck.core.js', charset='utf-8')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.js')
	script.
		$(function() {
			$.deck.defaults.hashPrefix = ""
			$.deck('.slide');
		});
	script.
		$(".location").text(window.location).prop("href", window.location)
		$(document).bind("deck.change", function (event, from, to) {
			newURL = [window.location.href.split("#")[0], to].join("#")
			$(".location").text(newURL).prop("href", newURL)
		})
